################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VisioPlugin/FileContentIndex/183f178f-5025-470d-8f08-b84bb2cf8bb8.vsidx
