################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VisioPlugin/FileContentIndex/51589fbe-e965-4350-9c28-f76a5c06fe81.vsidx
*.vsidx
