################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VisioPlugin/FileContentIndex/183f178f-5025-470d-8f08-b84bb2cf8bb8.vsidx
/.vs/VisioPlugin/FileContentIndex/800a0469-d7de-4d67-bd94-69ee5abbab07.vsidx
/.vs/VisioPlugin/FileContentIndex/983df409-5a83-440b-8fad-612349109075.vsidx
